img {
  display: block;
  width: 360px;
  height: 200px;
}
ul {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.gallery {
  max-width: 1128px;

  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
